.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

.editor {
  flex: 1;
  padding-top: 100px;
}

.card {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-left: 10px;
  position: relative;
  top: 100px;
  height: 500px;
}

.error-text {
  display: flex;
  justify-content: center;
}
